<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ex1.1.2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7165F9D01E00EBC200FC6927</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7165F9E91E00EBC300FC6927</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7165F9F41E00EBC300FC6927</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
